@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



@if (SignInManager.IsSignedIn(User))
{
    <!-- <li>

         <a class="nav-link text-dark profile-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
             <img src="~/images/gamma/gamma-profile.png" alt=@User.Identity?.Name class="profile-img">
         </a>
     </li>
      -->
    <li class="nav-item mr-3">
        <a class="nav-link custom-user-icon" asp-area="Identity" asp-page="/Account/Manage/Index"><i class="fas fa-user custom-user-icon"></i></a>
    </li>
    @if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Admin/UserList">User List</a>

        </li>
    }
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link link-custom">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item mr-3">
        <a class="nav-link custom-user-icon" asp-area="Identity" asp-page="/Account/Login"><i class="far fa-user custom-user-icon"></i></a>
    </li>

}

