@{
    ViewData["Title"] = "About Gamma Wear";
}
<h1>@ViewData["Title"]</h1>

<p>Gamma Wear is a dynamic and innovative company dedicated to providing high-quality socks for all occasions. Specializing in a wide range of socks, including athletic, casual, and outdoor styles, Gamma Wear combines superior craftsmanship with the latest fabric technologies to deliver comfort, durability, and style. Whether you’re hitting the trails, running a marathon, or simply looking for everyday comfort, Gamma Wear has the perfect pair of socks to meet your needs. With a commitment to excellence and customer satisfaction, Gamma Wear stands out as a trusted brand in the world of footwear essentials.</p>
