@model IEnumerable<GammaWear.Models.Sock>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<div class="row">
    @await Html.PartialAsync("_SockList", Model)
</div>
