@page "{id}"
@model GammaWear.Areas.Identity.Pages.Admin.ChangeRoleModel
@{
    ViewData["Title"] = "Change Role";
}

<h1>Change Role</h1>

<div>
    <h4>User Role</h4>
    <hr />
    <form method="post">
        <div class="form-group">
            <label asp-for="Input.Role" class="control-label"></label>
            <select asp-for="Input.Role" class="form-control" asp-items="Model.Roles"></select>
            <span asp-validation-for="Input.Role" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
