@page
@model GammaWear.Areas.Identity.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1>Admin Dashboard</h1>

<p>
    <a asp-page="/Admin/UserList" class="btn btn-primary">Manage Users</a>
</p>
